body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.journal {
  display: flex;
  align-items:baseline;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: black
}

.journal>ul {
  width: 30%;
}

.journal>ul>li {
  list-style-type: disclosure-open;
  /* color: #fff; */
  line-height: 30px;
  /* background: red; */
  margin: 20px;
}

.journal>ul>li>a {
  list-style-type: disclosure-open;
  color: #fff;
  text-decoration: none;
}

.journal>ul>li>a:active {
  background: grey;
  color: #fff;
  border: 1px solid red;
}

p {
  color: #fff;
}
